* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    font-style: arial;
    background: black;
    color: gold
}

.carousel-holder {
    opacity: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    width: 95%;
    height: 90vh;
    transition-property: opacity;
    transition-duration: 5s;
}

.v-name {
    font-size: 4vw;
    width: 100%;
    text-align: center;
}

.v-container {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 70vw 5fr;
    grid-gap: 0;
    align-items: center;
    justify-content: center;
}

.holder {
    position: relative;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-info {
    position: absolute;
    background: white;
    color: black;
    height: 50vh;
    width: 100%;
    z-index: 1;
    width: 100%;
    color: black;
}

.v-story {
    margin: 2%;
    padding: 1%;
    top: 50%;
    transform: translateY(-55%);
    position: absolute;
    font-size: 2.5vh;;
}

.v-exit {
    z-index: 1;
    background: green;
    cursor: pointer;
    width: 150px;
    padding: 15px;
    text-align: center;
}

video {
    width: 50vw;
    height: 50vh;
}

.info {
    width: 100px;
    font-style: italic;
    color: red;
    margin: 2% auto;
    font-size: 20px;
    cursor: pointer;
}

.changers {
    display: flex;
    width: 10%;
    height: 10vh;

}

button {
    border: none;
    border-radius: 100%;
    outline: none;
    background: black;
    display: flex;
    padding: 1em;
    cursor: pointer;
    align-items: center;
}

button .arrow {
    margin: 100% auto;
    border: solid rgb(166, 211, 87);
    border-width: 0 4px 4px 0;
    padding: 10px;
    transition: transform .3s ease-out;
}

.right {
    z-index: 0;
    margin: auto 2em auto 1em;
}

.right .arrow {
    transform: rotate(-45deg);
}

.left {
    z-index: 0;
    margin: auto 1em auto 2em;
}

.left .arrow {
    transform: rotate(135deg);
}

.back-home {
    position: relative;
    margin: 2% auto;
}

.back-home:hover {
    color: rgb(171, 204, 36);
    cursor: pointer;
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 450px) {
    .v-container {
        grid-template-columns: 2vw 90vw 2vwfr;
     
    }

    .info {
        color: yellow
    }

}
